# Django
DEBUG=True
SECRET_KEY='^+!+nuu710@$)vnqdilsg&2q471#n7szcxxv8-=&xp!c+bau#-'
STATIC_URL=/static/
MEDIA_URL=/media/
ALLOWED_HOSTS=
ADMIN_EMAIL=

# DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=backend
DATABASE_URL=psql://postgres:postgres@postgres:5432/backend
